<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

	<Identity
	  Name="WindowsLogan.LuminaAI"
	  Publisher="CN=Logan"
	  Version="1.1.3.29" />

	<mp:PhoneIdentity PhoneProductId="f497554b-aafc-4bd0-bdb6-8d5230e1f556" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Lumina AI</DisplayName>
		<PublisherDisplayName>Logan</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="Lumina.App">
			<uap:VisualElements
			  DisplayName="Lumina"
			  Square44x44Logo="Assets\StoreLogo.png"
			  Description="Lumina AI for UWP."
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\SmallLogo.png" ShortName="Lumina">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square150x150Logo"/>
						<uap:ShowOn Tile="wide310x150Logo"/>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClientServer" />
	</Capabilities>
</Package>
